body
{

background-image: url("../images/juke.jpg");
background-size: 100% 100%;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;

}
#display
{
padding-top: 300px;
width: 600px;
height: 400px;
align-items: center;

}
#question
{
padding: 300px;
}

h1
{
color: yellow;
}
h3
{
color:blue;
}
p
{
color: black;
}
.list-group-item
{
text-align: center;

}